* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6699cc;
  font-family: "Poppins", sans-serif;
  color: #222;
}
.container {
  max-width: 550px;
  margin: 50px auto;
}

.main-navbar {
  display: flex;
  align-items: center;
  padding: 22px 30px;
  background-color: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  position: relative;
}
.airbnb-logo {
  width: 82px;
  height: 25px;
}

/* ############## HERO SECTION */
.hero {
  background-color: #fff;
}
.img-box {
  display: flex;
  justify-content: center;
  padding: 26px 0 28px 0;
}
.phtgrid-img {
  width: 395px;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 36px;
}
.hero-title {
  color: #000;
  font-weight: 600;
  font-size: 36px;
}
.hero-paragraph {
  font-weight: 300;
  font-size: 16px;
  max-width: 320px;
}

/* ############## CARD COMPONENT */
.section-cards {
  padding: 48px 0px 30px 0px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 9px;
  /* padding-left: 37px; */
  position: relative;
  overflow: hidden;
}

.card-img {
  width: 176px;
  border-radius: 9px;
}

.card-text-box {
  font-weight: 300;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-text-box strong {
  font-weight: 600;
}
.star-img {
  width: 14px;
  height: 14px;
}
.card-rating {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #918e9b;
}

.card::after {
  content: "sold out";
  position: absolute;
  left: 6px;
  top: 6px;
  text-transform: uppercase;
  padding: 2px 7px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 400;
  border-radius: 2px;
}
